@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800;900&display=swap");

.HeaderWrapper {
  height: 54px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding-left: 50px;
  border-bottom: 0.25px solid lightgrey;
}
